name: PR title conformance

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  lint-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Lint PR
        uses: amannn/action-semantic-pull-request@v5
        with:
          types: |
            build
            ci
            docs
            feat
            fix
            perf
            refactor
            style
            test
            chore
          requireScope: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Comment for PR title conformance
        if: failure()
        uses: peter-evans/create-or-update-comment@v3
        with:
          issue-number: ${{tojson(github.event.number)}}
          body: |
            Please ensure your PR conforms to conventional commits (see https://www.conventionalcommits.org).

            Commits MUST be prefixed with a type, which consists of one of the following:

            * **build**: Changes that affect the build system or external dependencies (example scopes: gulp, broccoli, npm)
            * **ci**: Changes to our CI configuration files and scripts (example scopes: Travis, Circle, BrowserStack, SauceLabs)
            * **docs**: Documentation only changes
            * **feat**: A new feature
            * **fix**: A bug fix
            * **perf**: A code change that improves performance
            * **refactor**: A code change that neither fixes a bug nor adds a feature
            * **style**: Changes that do not affect the meaning of the code (white-space, formatting, missing semi-colons, etc)
            * **test**: Adding missing tests or correcting existing tests
            * **chore**: No production code change
