name: Validate Terraform manifests

on:
  pull_request:

jobs:
  terraform:
    name: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0

      - name: Ensure Terraform code is formated
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init

      - name: Validate Terraform code
        run: terraform validate -no-color
